# Environment files
.env
.env.*
!.env.example

# Logs
*.log

# IDE
.idea/

# System files
.DS_Store
Thumbs.db

# Node modules for pre-commit and pre-push hooks
node_modules/

# vscode settings
.vscode/